@use 'variaveis';
@use 'header';
@use 'hero';
@use 'shows';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px)
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px)
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px)
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px)
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px)
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px)
    }
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 18px;
}